@import "tailwindcss";

:root {
  --background: #e7d6c4;
  --foreground: #7b3f40;

  --red-orange: #a55d40;
  --peach: #c97a62;
  --green: #8c8b5e;
  --yellow: #d8a94f;
  --purple: #6e1f74;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

h1 {
  font-family: var(--font-bonbon);
  font-size: 100px;
}

body {
  background: var(--background);
  color: var(--foreground);
}

p {
  font-family: var(--font-itim);
}
